*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

header {
    height: 100%;
    width: 100%;
    background: url(hotel-images/beach.jpg) no-repeat center/cover;
}

nav{
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    /* position: fixed; */
}

nav div , .head-text h1{
    font-size: 40px;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 8px;
}

nav ul li a:hover{
    background-color: aliceblue;
}

.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 20px;
}

.sec .head-text{
    margin-bottom: 20px;
}

.sec div h1{
    font-size: 40px;
    color: white;
    font-style: oblique;
    margin-bottom: 15px;
}

.sec div p{
    font-size: 22px;
}

.sec .btn{
    position: relative;
    top: 0;
    left: -350px;
    margin: 15px;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.sec .btn a{
    text-decoration: none;
    color: black;
}

.sec .btn:hover{
    background-color: rgb(202, 202, 202);
}

.off-sec{
    padding: 30px;
    background-color: #F8F6F4;
}

.head-text {
    text-align: center;
    margin: 50px 0px 70px;
}

.offers {
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    padding: 0 150px;
}

.option-box{
    border: 1px solid rgba(37, 37, 37, 0.3);
    border-radius: 10px;
    padding: 25px;
}

.option-box h4{
    padding: 5px 10px;
    font-size: 20px;
}

.option-box p{
    text-align: center;
    padding-top: 5px; 
}

.offers .img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    border-radius: 7px;
    width: 80px;
    margin: 15px auto 30px;
}

.offers .img img{
    width: 50px;
}

